@import "sizing"
@import "helpers/respond_to"

p
  font-size: 1.6rem

h1 
  font-size: 4.5rem

h2
  font-size: 3.5rem
  margin-top: 0

h3
  margin-top: 5rem
  font-size: 2.5rem
  margin-bottom: 1.5rem

h4
  margin-top: 4rem
  font-size: 2.2rem

h5 
  margin-top: 3rem

p > img
  width: 100%

.blog
  &__index
    &__heading
      margin-top: 0
      line-height: 1.3

    &__date
      font-weight: 300
      font-size: 1.5rem

    &__intro
      margin-bottom: 3rem

  &__article
    &__header
      margin-bottom: 8rem

      &__date
        text-transform: uppercase

      &__heading
        margin-bottom: 0

    &__subheading
      font-style: italic
      font-weight: 300
      font-size: 2rem
    
    &__intro
      font-weight: 300
      margin-top: 1.5rem

    &__index
      &__heading
        margin-top: 0
    p
      &:first-child:first-letter
        float: left
        color: #2196f3
        font-size: 10rem
        line-height: 8.7rem
        padding-right: 1rem
        font-family: Georgia
        padding-bottom: 0

.site
  &__heading
    text-align: center
    text-transform: capitalize
    font-family: 'great_vibesregular'

  &__aside
    margin-bottom: 5rem
    font-weight: 300

    &__image
      width: 80%
      margin-left: 9%
      border-radius: 50%
      margin-bottom: 2rem
      padding: 2px
      border: 1px solid #ddd

  &__footer
    margin: 3.5rem 0
    text-align: center

  +respond-to('medium-up')
    &__heading
      margin-top: 5.5rem 
      font-size: 7rem
    
    &__rule
      margin: 6rem 0 8rem 0 
    
    &__aside
      &__image
        margin-left: 5%


.comments
  margin-top: 6rem