p
  font-size: 1.6rem

h1 
  font-size: 4.5rem

h2
  font-size: 3.5rem
  margin-top: 0

h3
  font-size: 2.5rem

h4
  font-size: 2.2rem

.blog
  &__article
    &__header
      margin-bottom: 4rem

      &__date
        text-transform: uppercase

      &__heading
        text-transform: capitalize

    &__index
      &__heading
        margin-top: 0
    p
      text-align: justify  
          
      &:first-child:first-letter
        float: left
        color: #2196f3
        font-size: 10rem
        line-height: 8.7rem
        padding-right: 1rem
        font-family: Georgia
        padding-bottom: 0

.site
  &__heading
    margin-top: 5.5rem 
    text-align: center
    text-transform: capitalize


  &__rule
    margin: 6rem auto 8rem auto
    width: 35%

  &__footer
    margin: 3.5rem 0
    text-align: center