<div class="col-xs-12 col-sm-3 col-sm-push-1 site__aside">
  <aside>
    <%= image_tag 'profile.jpg', class: "site__aside__image" %>
    <p>I'm Kris, a Ruby on Rails dev and father based in Leeds.</p>
    <p>I am currently the lead developer at <a href="http://direct.matalan.co.uk">Matalan Direct</a> and offer my services to Charities and Non-Profits through <a href="http://affinity-tech.com">affinity tech.</a></p>
  </aside>
</div>
