<div class="col-xs-12 col-sm-3 col-sm-push-9 site__aside">
  <aside>
    <p>I'm Kris, a Ruby on Rails dev and father based in Leeds.</p>
    <p>I am currently the lead developer at Matalan Direct and provide my services to Charities and Non-Profits through affinity-tech.com</p>
  </aside>
</div>
